@model TeacherModel
<div class="col-lg-3 col-md-6 wow fadeInUp w-100" data-wow-delay="0.5s">
    <div class="team-item position-relative w-100">
        <div class="position-relative ">
            <img class="img-fluid " src="~/images/@Model.ImageUrl" alt="">
            <div class="team-social text-center">
                <a class="btn btn-outline-primary border-2 m-1" href="">
                    İncele
                </a>
            </div>
        </div>
        <div class="bg-light text-center p-4">
            <h5 class="mt-2">@Model.FirstName @Model.LastName</h5>
            <span>Trainer</span>
        </div>
    </div>
</div>