<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" target="_blank">
        <i class="fas fa-fw fa-table"></i>
        <span>Siteye Git</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Teachers" asp-action="Index">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Öğretmenler</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Students" asp-action="Index">
        <i class="fas fa-fw fa-table"></i>
        <span>Öğrenciler</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Branches" asp-action="Index">
        <i class="fas fa-fw fa-table"></i>
        <span>Dersler</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index">
        <i class="fas fa-fw fa-table"></i>
        <span>Kullanıcılar</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Roles" asp-action="Index">
        <i class="fas fa-fw fa-table"></i>
        <span>Roller</span>
    </a>
</li>